:root {
  --color-primary: #127369;
  --color-secondary: #10403b;
  --color-tertiary: #8aa6a3;
  --color-quaternary: #4c5958;
  --color-light: #bfbfbf;
  --color-white: #ffffff;
  --color-black: #000000;
}

.bg-primary-1 { background-color: var(--color-primary); }
.bg-secondary-2 { background-color: var(--color-secondary); }
.bg-tertiary-3 { background-color: var(--color-tertiary); }
.bg-quaternary-4 { background-color: var(--color-quaternary); }
.bg-light-5 { background-color: var(--color-light); }
.color-white { color: var(--color-white); }
.color-black { color: var(--color-black); }
.color-white a:hover { color: #d1e7dd; } /* Hover para enlaces en texto blanco */

/* Fondo general del main */
.main-background {
  background: url("img/fondos/fondo6.jpg") no-repeat center/cover, var(--color-primary);
}

/* Tarjeta de perfil */
.profile-card {
  background-color: var(--color-white);
  height: 55vh;
  grid-template-rows: 33% 45% 22%;
  border-radius: 20px;
}

/* Imagen de perfil */
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid var(--color-white);
  position: relative;
  transform: translateY(-50%);
}

.profile-body{
  justify-items: center;
  border-bottom: 1px solid;
  grid-template-rows: 40% 60%;
}

.card-body img {
  max-height: 200px;
  object-fit: cover;
  width: 100%;
}

/* Tecnologías */
.technology-icon {
  height: 80px;
  width: auto;
  margin: 10px;
  transition: transform 0.3s ease;
}

.technology-icon:hover {transform: scale(1.1);}

.btn-custom {
  background-color: var(--color-primary); /* Cambia este color por el que prefieras */
  color:var(--color-white);
  font-size: 1.2rem; /* Aumenta el tamaño del texto */
  padding: 12px 30px; /* Ajusta el tamaño del botón */
  border: 1px solid;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background-color: #0e5a54; /* Un tono más oscuro para el efecto hover */
  color:var(--color-white);
}

.map-container {
  overflow: hidden;
  border-radius: 8px; /* Mejora estética */
}

.footer-copyright {
  background-color: var(--color-quaternary); /* Color original */
  color:var(--color-white); /* Texto blanco */
}

@media (max-width: 768px) {
  .card-body img {
    max-height: 150px;
  }
}