:root {
  --color-primary: #127369;
  --color-secondary: #10403b;
  --color-tertiary: #8aa6a3;
  --color-quaternary: #4c5958;
  --color-light: #bfbfbf;
  --color-white: #ffffff;
  --color-black: #000000;
}

.bg-primary-1 { background-color: var(--color-primary); }
.bg-secondary-2 { background-color: var(--color-secondary); }
.bg-tertiary-3 { background-color: var(--color-tertiary); }
.bg-quaternary-4 { background-color: var(--color-quaternary); }
.bg-light-5 { background-color: var(--color-light); }
.color-white { color: var(--color-white); }
.color-black { color: var(--color-black); }
.color-white a:hover { color: #d1e7dd; } /* Hover para enlaces en texto blanco */

/**HEADER*/



/* MAIN */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("img/fondos/fondo6.jpg") no-repeat center/cover, var(--color-primary);
}

.profile-card {
  display: grid;
  background-color: var(--color-white);
  width: 300px;
  height: 55vh;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-row: 1 / 2;
}

.profile-body {
  display: grid;
  grid-template-rows: 40% 60%;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid var(--color-muted);
  padding: 0 1rem;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid var(--color-white);
  transform: translateY(-50%);
}

.profile-info h1 {
  font-size: 1.25rem;
  margin: 0;
}

.profile-info span {
  font-size: 1rem;
  color: var(--color-secondary);
}

.profile-info p {
  font-size: 0.875rem;
  color: var(--color-muted);
  margin: 0.25rem 0;
}

.profile-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 0.5rem 0;
}

.profile-stats h4 {
  font-size: 1.5rem;
  margin: 0;
}

.profile-stats p {
  font-size: 0.75rem;
  color: var(--color-muted);
  margin: 0;
}

/*PORTFOLIO*/
.portfolio {
  background-color: var(--color-tertiary);
  padding: 3rem 1rem;
  text-align: center;
}

.portfolio-header h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--color-black);
}

/* Grid para los artículos */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

/* Artículo */
.portfolio-item {
  background: var(--color-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.portfolio-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
  color: var(--color-dark);
}

/* Imagen */
.portfolio-image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
}

/* Footer */
.portfolio-footer {
  padding: 0.5rem;
  font-size: 0.9rem;
  color: var(--color-muted);
  background: var(--color-light);
  width: 100%;
}

/* Tecnologías */
.about-section {
  background-color:var(--color-primary); /* Usa tu color primario */
  color: var(--color-white);
  padding: 40px 20px;
  text-align: center;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.about-section a {
  color: var(--color-white);
  text-decoration: underline;
}

.technology-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.technology-icon {
  height: 80px;
  width: auto;
  transition: transform 0.3s ease;
}

.technology-icon:hover {
  transform: scale(1.1);
}

.btn-custom {
  background-color: var(--color-primary); /* Cambia este color por el que prefieras */
  color:var(--color-white);
  font-size: 1.2rem; /* Aumenta el tamaño del texto */
  padding: 12px 30px; /* Ajusta el tamaño del botón */
  border: 1px solid;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background-color: #0e5a54; /* Un tono más oscuro para el efecto hover */
  color:var(--color-white);
}

.map-container {
  overflow: hidden;
  border-radius: 8px; /* Mejora estética */
}

.footer-copyright {
  background-color: var(--color-quaternary); /* Color original */
  color:var(--color-white); /* Texto blanco */
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem
}

@media (max-width: 768px) {

  /*MAIN*/
  .profile-card {
    width: 90%;
    height: auto;
    grid-template-rows: auto auto auto;
  }

  .background-img {
    height: 150px;
  }

  .profile-img {
    transform: translateY(-25%);
  }

  /*PORTFOLIO*/

}